body {
  background-color: #87b290;
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc,
                 0 2px 0 #cccccc,
                 0 3px 0 #cccccc,
                 0 4px 0 #cccccc,
                 0 5px 0 #cccccc,
                 0 6px 0 #cccccc,
                 0 7px 0 #cccccc,
                 0 8px 0 #cccccc,
                 0 9px 0 #cccccc,
                 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

  h1{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 100px;
    animation: text-pop-up-top 2s ease both;
}

@keyframes slide-fwd-center {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 100px;
    animation: slide-fwd-center 1s ease-in-out forwards;
}

.middle-section {
  display: grid;
  place-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  animation: slide-fwd-center 1s ease-in-out forwards;
}

select, input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
   border: 1px solid #666;
}

button {
 background-color: #afe2ba;
 color: white;
 border: none;
 font-weight: bold;
}


#image-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  gap: 1.5rem;
}

.image {
  width: 10rem;
  height: 14rem;
  object-fit: cover;
  object-position: center center;
}

* {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

footer {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #afe2ba;
  padding: 10px;
  color: white;
  text-shadow: #87b290 1px 2px;
}